$primary-50: #ebf1fb;
$primary-75: #adc7ef;
$primary-100: #8bb0e8;
$primary-200: #598dde;
$primary-300: #3776d7;
$primary-400: #275397;
$primary-500: #224883;

$neutral-50: #eaebec;
$neutral-75: #a9abaf;
$neutral-100: #85898e;
$neutral-200: #51565d;
$neutral-300: #2d333c;
$neutral-400: #1f242a;
$neutral-500: #1b1f25;
